/* Color del fondo de toda la pagina */
body {
    background-color: rgb(250, 145, 126);
}

/* Color del nombre del autor */
a.red {
    color: red;
}
header {
    text-align: center;
}

/* Color rojo del input del value */
input#quatity {
    color: red;
}
footer {
    background-color: yellow;
    text-align: center;
}